<div>{{ name | sentenceCase: name }} Training</div>
<input type="text" [(ngModel)]="name">
<ul>
  <li *ngFor="let character of list">
    {{ character }}
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
  <span>Name</span>: <span>{{ listOfObj['name'] }}</span>
  <hr>
  <span>Age</span>: <span>{{ listOfObj['age'] }}</span>
</div>
<app-table *ngIf="name" [name]="name" [list]="list" (outputTest)="onOutput($event)"></app-table>
<ul>
  <li><a routerLink="about-us">{{'about us' | translate }}</a></li>
  <li><a routerLink="contact">{{'contact' | translate }}</a></li>
</ul>
<div>
  Visits: {{ visits }}
</div>